{% extends 'home/base.html' %}
  
       {% block mi_contenido  %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-left">
                    <div class="col-xl-10">
                        <div class="text-left text-white">
                            <!-- Page heading-->
                            <h3 class="mb-5">CODERHOUSE - TRABAJO FINAL</h3>
                            <h4 class="mb-5">INTEGRANTES:</h4>
                            <a href="https://ar.linkedin.com/in/alejandro-menegotti-605530222"<h2 class="mb-5">ALEJANDRO MENEGOTTI</h2></a>
                            <p></p>
                            <!-- Sin redes sociales de momento-->
                            <a href="http://google.com"<h3 class="mb-5">ALEJANDRO SABBIONE</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock mi_contenido %}    