{% extends 'home/base.html' %}
{% block mi_contenido  %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-left">
                    <div class="col-xl-10">
                        <div class="text-left text-white">
                            <!-- Page heading-->
                            <h2 class="mb-5"><B>CODERHOUSE - PROYECTO FINAL</B></h2>
                            <h3 class="mb-5"><B><i>INTEGRANTES:</i></B></h3>
                            <a href="https://ar.linkedin.com/in/alejandro-menegotti-605530222" style="color: white" class="mb-5"><h5>LINK: ALEJANDRO MENEGOTTI</h5></a>
                            <a href="http://google.com" style="color: white" class="mb-5"><h5><B>LINK: ALEJANDRO SABBIONE</B></h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock mi_contenido %}    