{% extends 'home/base.html' %}

{% block title_pagina  %}
<title>Crear Persona</title>
{% endblock title_pagina  %}

{% comment %} Vamos a crear un formulario {% endcomment %}
{% comment %} get = solicitud de consulta. Ej: Cajero automatica para checkear saldo {% endcomment %}
{% comment %} post = Para postear informacion ingresada y guardarla {% endcomment %}

{% block mi_contenido %}
<form action={% url 'home_persona' %} method="POST">
    {% csrf_token %}
    <table>
        {{formulario}} 
    </table>

{% comment %} Esto que esta todo comentado se vio en la clase 20
    <p>
        Nombre:
        <input type="text" name='nombre' placeholder="Nombre">
    </p>
    <p>
        <label for="apellido">Apellido:</label>
        <input type="text" name='apellido' placeholder="Apellido">
    </p> {% endcomment %}
{% comment %} Tres formas de crear botones {% endcomment %}
{% comment %} <input type="button" value="Crear"> {% endcomment %}
{% comment %} <input type="submit" value="Crear"> {% endcomment %}
<button>Crear</button>
</form>
{% endblock mi_contenido %}
