    {% extends 'home/base.html' %}
  
   {% comment %}  Esto de abajo viene de base.html {% endcomment %}

    {% block mi_contenido  %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">LIBRERIA NUÑEZ</h1>
                            <p> 
                            <h3 class="mb-5">TRACKING DE VENTAS</h3>  
                            </p>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock mi_contenido %}    