{% extends 'home/base.html' %}

{% block title_pagina  %} 
<title>Ventas del Mes</title>
{% endblock title_pagina %}

{% block mi_contenido  %}
{% comment %} Esta oracion de abajo sirve para que se agregue un hypervinculo que te lleve al Inicio. En este caso Index {% endcomment %}
<a class="navbar-brand" href={% url 'nueva_venta' %}><button>Ingresar una Nueva Venta</button></a>
<p></p>
<form action={% url 'nueva_venta' %} method="GET">
      {{formulario}} 
      <button>Buscar</button>
</form>
<p>
   {% if libros %}

      {% for libro in libros  %}
      {% comment %} <li>{{libro.titulo}} {{libro.genero}} {{libro.mes_venta}}</li> {% endcomment %}
         <li> 
            {{libro}}
            <a class="navbar-brand" href={% url 'editar_venta' libro.id %}><button>Editar Ingreso</button></a>
            <a class="navbar-brand" href={% url 'eliminar_venta' libro.id %}><button>Eliminar Ingreso</button></a>
         </li>
      {% endfor %} 
      
   {% else %}
   <p>No hay ventas registradas con el titulo especificado. Intentelo nuevamente.</p>
   {% endif %}

</p>

{% endblock mi_contenido  %}
