{% extends 'home/base.html' %}

{% block title_pagina  %} 
<title>Ventas del Mes</title>
{% endblock title_pagina %}

{% block mi_contenido  %}
{% comment %} Esta oracion de abajo sirve para que se agregue un hypervinculo que te lleve al Inicio. En este caso Index {% endcomment %}
<p></p>
<a class="navbar-brand" href={% url 'nueva_venta' %}><button>Ingresar Venta Nueva</button></a>
<p></p>
<form action={% url 'resumen_ventas' %} method="GET">
      {{formulario}} 
      <button>Buscar</button>
</form>
<p>
   {% if object_list %}

      {% for libro in object_list %}
      {% comment %} <li>{{libro.titulo}} {{libro.genero}} {{libro.mes_venta}}</li> {% endcomment %}
         <li> 
            {% comment %} {{libro}} {% endcomment %}
            <a class="navbar-brand" href={% url 'ver_venta' libro.id %}>{{libro}}</a>
            <a class="navbar-brand" href={% url 'editar_venta' libro.id %}><button>Editar Venta</button></a>
            <a class="navbar-brand" href={% url 'eliminar_venta' libro.id %}><button>Eliminar Registro</button></a>
         </li>
      {% endfor %} 
      
   {% else %}
   <p>No hay ventas registradas con el titulo especificado. Intentelo nuevamente.</p>
   {% endif %}

</p>

{% endblock mi_contenido  %}
