{% extends 'home/base.html' %}

{% block title_pagina  %}
<title>Ver Personas</title>
{% endblock title_pagina %}

{% block mi_contenido  %}

{% comment %} Esta oracion de abajo sirve para que se agregue un hypervinculo que te lleve al Inicio. En este caso Index {% endcomment %}
<a class="navbar-brand" href={% url 'index' %}>Index</a>
<p>Listado de Personas:</p>
{% for persona in personas  %}
   <li>{{persona.nombre}} {{persona.apellido}} {{persona.edad}}</li>
{% endfor %}
{% comment %} Por si se rompe algo, eliminar persona.edad de el renglon 6 {% endcomment %}

{% endblock mi_contenido  %}
